In [1]:
%%pyspark
data_path = spark.read.load('abfss://venkyfs1001@venkyadls1001.dfs.core.windows.net/AirQualityIndexWithTemp/', format='parquet')
data_path.show(10)

StatementMeta(venkysparkpool, 10, 2, Finished, Available)

+---------+---------+----------------+--------------+
| latitude|longitude|            time|temperature_2m|
+---------+---------+----------------+--------------+
|44.699997|44.199997|2018-01-01T00:00|           0.9|
|44.699997|44.199997|2018-01-01T01:00|           0.9|
|44.699997|44.199997|2018-01-01T02:00|           0.8|
|44.699997|44.199997|2018-01-01T03:00|           0.8|
|44.699997|44.199997|2018-01-01T04:00|           0.9|
|44.699997|44.199997|2018-01-01T05:00|           1.3|
|44.699997|44.199997|2018-01-01T06:00|           1.9|
|44.699997|44.199997|2018-01-01T07:00|           2.7|
|44.699997|44.199997|2018-01-01T08:00|           3.3|
|44.699997|44.199997|2018-01-01T09:00|           4.1|
+---------+---------+----------------+--------------+
only showing top 10 rows

In [7]:
%%sql
DROP TABLE default.temperatures_table;
CREATE TABLE default.temperatures_table
USING PARQUET
LOCATION
'abfss://venkyfs1001@venkyadls1001.dfs.core.windows.net/AirQualityIndexWithTemp/'

StatementMeta(, 10, 11, Finished, Available)

In [8]:
%%sql
show databases;
show tables;
select * from default.temperatures_table limit 10;

StatementMeta(, 10, 14, Finished, Available)